.dark-mode, .dark-mode nav, .dark-mode main, .dark-mode .dark-mode-button, .dark-mode footer  {
  background-color:#2A2B2A;
}


.modal {
  z-index: 1003;
  /* display: inline-block; */
  position: fixed;
  background:#0C1428;
  border: 4px solid red;
  left: 25%; 
  width: 50%;
  /* height: 20%; */
  top: 30%;
  border-radius: 30px;
  padding:5px;
  color:white;
}
.modal h3 {
  text-align: center;
}
.open-modal {
  background-color: #FFF2E2;
  color: black;
  margin-left: 3em;
  padding: .1em .5em;
}

.modal .modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hamburger-modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 45%;
  background-color: #2A2B2A;
  z-index: 10000;
  /* border: 2px solid red; */
}
.close-modal {
  background-color: white;
  color: black;
  margin-left: 1em;
  margin-top: 2em;
}

.hamburger-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.hamburger-modal-container a {
  margin: 2em;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.overlay {
  position: fixed;
  left: 45%;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: gray;
  opacity: .6;
  z-index: -1;
}
.recipes-title {
  color: white;
  font-family: 'Just Another Hand', cursive;
  text-align: center;
  letter-spacing: 5px;
  font-size: 3em;
}

nav {
  /* border: 2px solid green; */
  min-height: 10vh;
  background-color: #FFF2E2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  max-width: 60%;
  max-height: 10vh;
  border-radius: 50%;
}
footer .footer-logo {
  border-radius: 50%;
  margin-top: 2em;
  margin-bottom: 1em;
}
.landing-image {
  height: 90vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}

.search-bar {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 100%;
  z-index: 100;
  opacity: .7;
  
}
main {
  background-color: #2A2B2A;
  border: 1px solid white;
  z-index: 1;
}

body .recipe-card {
  /* border: 2px solid black; */
  background-color: white;
  margin: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
}

body .recipe-card img {
  padding-top: 1em;
  max-width: 80%;
}

body .recipe-card .stars-container {
margin: 1em 0 0 0;
}
body .recipe-card p {
  padding: .5em 1em;
}

body .recipe-card .stars {
  font-size: 3em;
  margin: 0 auto;
  max-width: fit-content;
  color: orange;
  border: 1px solid black;
  border-radius: 2em;
  display: flex;
  align-content: center;
  padding: 0 .25em;
}


footer {
  /* border: 2px solid red; */
  min-height: 30vh;
  background-color: #FFF2E2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer-logo {
  max-height: 10vh;
  max-width: 60%;
}

footer .social-media-links {
  border: 2px solid black;
  margin: 1em 2em;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 5em;
}

footer .social-media-links a {
  padding: .25em .5em;
}

.delete {
  position: absolute;
  left: 10%;
  padding: .5em 1em;
  font-size: 1.2em;
}

.card-top-container {
  /* border: 2px solid red; */
  text-align: center;
  padding: .5em 1em;
  font-family: 'Just Another Hand', cursive;
  font-size: 30px;
  letter-spacing: 2px;
  color: #FFF2E2;
}

.card-top-container h2 {
  font-size: 60px;
  padding: 0em;
  margin: .5em;
}

.card-image-container {
  max-height: fit-content;
  max-width: fit-content;
  margin: auto;
  /* border: 2px solid green; */
  display:  flex;
  flex-direction: column;
}
.card-image-container img {
  position: relative;
  width: 80%;
  left: 10%;
  /* border: 2px solid red; */
}

.card-info-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 3px;
  font-size: 1.5em;
  color: #FFF2E2;

  padding: .5em;
}

.card-bottom-container {
  text-align: center;
  color: #FFF2E2;
  font-family: 'Just Another Hand', cursive;
  font-size: 35px;
  padding: .5em;
}

.recipe-form h3 {
  margin: 4em 0 1em;
  color: #FFF2E2;
  text-align: center;
}
.submit {
  position: relative;
  width: 40%;
  left: 30%;
  margin: 1em 0;
}

.edit-page h3 {
  margin: 4em 0 1em;
  color: #FFF2E2;
  text-align: center;
}

.dark-mode-button {
  position: absolute;
  top: 12%;
  left: 2%;
  color: rgb(143, 143, 143);
  background-color: #FFF2E2;
  border: 1px solid white;
}

@media screen and (min-width: 1100px) {
  .recipes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    /* position: relative; */
    margin: 0 2em;
  }

  .recipe-card {
    max-width: 25%;
    margin: 1em 2em;
  }
  .recipe-card p {
    height: 3em;
    margin: .5em;
  }

  .delete {
    position: relative;
    left: -30%;
    top: -70%;
  }

  div .input {
    left: 25%;
    }
  div .input label {
    left: 30%;
  }
  
}


